.DS_Store
*.ipynb_checkpoints/
05. Presentation Skills - Kevin
08. Apache Spark - Daniel/gareth.pem
11. Pipelines - Rachel/data/
11. Pipelines - Rachel/.pytest_cache/
11. Pipelines - Rachel/Variables Info.xlsx
12. Reinforcement Learning - Adam
13. NLP - Tal/Slides/
13. NLP - Tal/Utils/
Project Ideas.xlsx