.DS_Store
01. Deep Learning - Tristan/.ipynb_checkpoints/
03. Machine Learning - Gerrit/.ipynb_checkpoints/
04. Random Forests - José/.ipynd_checkpoints/
05. Presentation Skills - Kevin
06. Zero & Low Show Learning - Nour/Exercises/.ipynd_checkpoints/
06. Zero & Low Show Learning - Nour/My Notebooks/.ipynd_checkpoints/
06. Zero & Low Show Learning - Nour/Solutions/.ipynd_checkpoints/
07. Deep Learning - Daniel/.ipynd_checkpoints/
08. Apache Spark - Daniel/gareth.pem
09. Advanced Python - Marek/.ipynd_checkpoints/
10. Evolutionary Strategies - Shreyas/.ipynd_checkpoints/
Project Ideas.xlsx