.DS_Store
1. Deep Learning - Tristan/.ipynb_checkpoints/
3. Machine Learning - Gerrit/.ipynb_checkpoints/
4. Random Forests - José/.ipynd_checkpoints/
5. Presentation Skills - Kevin
6. Zero & Low Show Learning - Nour/Exercises/.ipynd_checkpoints/
6. Zero & Low Show Learning - Nour/My Notebooks/.ipynd_checkpoints/
6. Zero & Low Show Learning - Nour/Solutions/.ipynd_checkpoints/
7. Deep Learning - Daniel/.ipynd_checkpoints/
8. Apache Spark - Daniel/gareth.pem/
9. Advanced Python - Marek/.ipynd_checkpoints/
Project Ideas.xlsx

